.header {
  background-color: #F15A29;
  text-align: center;
  padding:70px;
  color: yellow;
}

.header > p {
  font-family: 'Tangerine', cursive;
  font-size: 40px;
}

.header > h1 {
  font-family: 'Tangerine', cursive;
  font-size: 130px;
  font-weight: bolder;
}

#heading {
  text-align: center;
  color:#F15A29;
  margin-top: 70px;
  font-family: 'Pacifico', cursive;
}

form{
  box-shadow:0 0 15px 5px rgb(212, 210, 210);
  padding: 50px;
  margin-top: 20px;
}

.col-md-2 {
  font-size: 15px;
  font-family: 'Original Surfer', cursive
}

.col-md-3 {
  font-size: 15px;
  width: auto;
  font-family: 'Original Surfer', cursive
}

.col-md-5 {
  font-size: 15px;
  font-family: 'Original Surfer', cursive
}

.col-md-2 >input {
  width: auto;
  margin-top: 15px;
}

.col-md-3 >input {
  width: auto;
  margin-top: 15px;
}

.col-md-5 >input {
  width: auto;
  margin-top: 15px;
}

label {
  font-weight: bold;
  margin-top: 50px;
  color: #F15A29;
  font-size: 20px;
}

#order {
  background-color: yellow;
  width: 30%;
  margin-top:40px;
}

#deliver {
  margin-top: 20px;
  background-color: greenyellow;
  width: 14%;
}
/*
#not {
  background-color: greenyellow;
  width: 15%;
}

#checkout {
  margin-top: 20px;
  background-color: #F15A29;
  width: 30%;
}

#number {
  margin-top: 20px;
}
#number ,#charge ,#total{
  font-family: 'Original Surfer', cursive;
}

.footer {
  background-color: #F15A29;
  padding:6%;
  margin-top: 10px;
  text-align: center;
  color: white;
}

.images1 > img{
  margin-left: 2%;
}

.images2 >img  {
  margin-top: 90px;
  margin-bottom: 0px;
  margin-left: 2%;
}